:root.theme-dark {
  --background-color: #000028;
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --transparent-accent-color: #FF007066;
  --theme-menu-color: #FF0070;
  --corner-decor-color: #FF0070;
  --section-heading-color: #FF0070;
  --main-text-color: #F1B2CE;
  --secondary-text-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
}
