:root.theme-light {
  --background-color: #FFF1F7;
  --heading-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --transparent-accent-color: #32312D66;
  --theme-menu-color: #353430;
  --corner-decor-color: #353430;
  --section-heading-color: #353430;
  --main-text-color: #353430;
  --secondary-text-color: #353430;
  --background-image: url('../images/cover-image-light.png');
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --heading-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --transparent-accent-color: #32312D66;
    --theme-menu-color: #353430;
    --corner-decor-color: #353430;
    --section-heading-color: #353430;
    --main-text-color: #353430;
    --secondary-text-color: #353430;
    --background-image: url('../images/cover-image-light.png'); 
  }
}
