:root.theme-light {
  --background-color: #fff1f7;
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --transparent-accent-color: #32312d66;
  --theme-menu-color: #353430;
  --corner-decor-color: #353430;
  --section-heading-color: #353430;
  --main-text-color: #353430;
  --secondary-text-color: #353430;
  --background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --heading-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --transparent-accent-color: #32312d66;
    --theme-menu-color: #353430;
    --corner-decor-color: #353430;
    --section-heading-color: #353430;
    --main-text-color: #353430;
    --secondary-text-color: #353430;
    --background-image: url("../images/cover-image-light.png");
  }
}
