.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
}

main {
  padding-inline: 10px;
  padding-block: 40px;
}

.title-decor {
  background-color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  font-weight: bold;
  color: var(--secondary-text-color);
}

.link-decor {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.link-decor:hover {
  border-block-end:1px solid var(--main-text-color);
}

.link-decor:focus-visible {
  border:1px solid var(--main-text-color);
}

.heading-decor, .footer-decor {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: .83em;
  font-weight: bold;
  color: var(--heading-color);
}

.heading-decor {
  text-shadow: 4px 4px var(--accent-color);
}

.footer-decor {
  text-shadow: 2px 2px var(--accent-color);
}

.header {
  padding-inline: 10px;
  padding-block: 10px;
  block-size: 100dvb;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.header::before,
.footer::before {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--corner-decor-color);
  border-inline-end: 1px solid var(--corner-decor-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.header::after,
.footer::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--corner-decor-color);
  border-inline-start: 1px solid var(--corner-decor-color);
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.header__rec {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 19px;
}

.header__rec:after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 70px;
  block-size: 26px;
  border: 1px solid transparent;
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  color: var(--theme-menu-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--transparent-accent-color);
}

.header__theme-menu-button.header__theme-menu-button_active {
  border-color: var(--theme-menu-color);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-block-end-color: var(--theme-menu-color);
}

.header__description {
  align-self: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.section-galery {
  row-gap: 10px;
}

.section:not(:last-child) {
  margin-block-end: 50px;
}

.section__title {
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  color: var(--section-heading-color);
}

.card-title {
  margin-block-end: 10px;
}

.card-title--light {
  font-weight: normal;
}

.card-text {
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  color: var(--main-text-color);
}

.galery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100dvb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (width >= 768px) {
  main {
    padding-inline: 20px;
    padding-block: 60px;
  }

  .header {
    padding-inline-start: 0;
    padding-inline-end: 20px;
    padding-block: 20px;
  }

  .header::before,
  .footer::before {
    top: 20px;
    right: 20px;
  }
  
  .header::after,
  .footer::after {
    left: 20px;
    bottom: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .heading-decor, .footer-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: calc((100% - 20px) / 2);
    justify-self: end;
  }

  .section {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section:not(:last-child) {
    margin-block-end: 80px;
  }

  .card, .card-title, .cards-title {
    grid-column: 2;
  }

  .section-attention-drainers .card {
    grid-column: span 2;
  }

  .section-improve-concentration .section__title {
    grid-row: span 2;
  }

  .section-galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 192px 230px 318px;
    row-gap: 20px;
  }

  .galery__title {
    grid-column: span 3;
  }

  .galery__item:nth-child(2),
  .galery__item:nth-child(6) {
    grid-column: span 2;
  }

  .galery__item:nth-child(3),
  .galery__item:nth-child(4) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-inline-start: 20px;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    column-gap: 10px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .card, .card-title, .cards-title {
    grid-column: 2 / span 2;
  }

  .section-attention-drainers .card:first-of-type {
    grid-column: 1;
  }

  .section-attention-drainers .card {
    grid-column: span 1;
  }

  .section-galery {
    grid-template-rows: min-content 260px 315px 433px;
    row-gap: 20px;
  }
}