.page {
  background-image: var(--background-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding-inline: 10px;
  padding-block: 40px;
}

.title-decor {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  background-color: var(--accent-color);
}

.link-decor {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link-decor:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.heading-decor,
.footer-decor {
  color: var(--heading-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
}

.heading-decor {
  text-shadow: 4px 4px var(--accent-color);
}

.footer-decor {
  text-shadow: 2px 2px var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px;
  padding-block: 10px;
}

.header,
.footer {
  block-size: 100dvb;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--corner-decor-color);
  border-block-start: 1px solid var(--corner-decor-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--corner-decor-color);
  border-block-end: 1px solid var(--corner-decor-color);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
}

.header__rec:after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-menu-color);
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  text-transform: lowercase;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-accent-color);
}

.header__theme-menu-button.header__theme-menu-button_active {
  outline: 1px solid var(--theme-menu-color);
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible:not(:hover) {
  border-block-end: 1px solid var(--theme-menu-color);
}

.header__description {
  align-self: center;
  background-color: var(--accent-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.section-galery {
  row-gap: 10px;
}

.section:not(:last-child) {
  margin-block-end: 50px;
}

.section__title {
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
}

.card-title {
  margin-block-end: 10px;
}

.card-title--light {
  font-weight: normal;
}

.card-text {
  color: var(--main-text-color);
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
}

.card-text:not(:last-of-type) {
  margin-block-end: 10px;
}

.galery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.galery__title {
  margin-block-end: 10px;
}

.galery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  main {
    padding-inline: 20px;
    padding-block: 60px;
  }

  .header {
    padding-inline-start: 0;
    padding-inline-end: 20px;
    padding-block: 20px;
  }

  .header,
  .footer {
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 29px;
  }

  .heading-decor,
  .footer-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    inline-size: calc((100% - 20px) / 2);
  }

  .section {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section:not(:last-child) {
    margin-block-end: 80px;
  }

  .card,
  .card-title,
  .cards-title {
    grid-column: 2;
  }

  .section-attention-drainers .card {
    grid-column: span 2;
  }

  .section-improve-concentration .section__title {
    grid-row: span 2;
  }

  .galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    row-gap: 20px;
    column-gap: 20px;
  }

  .galery__title {
    margin-block-end: 20px;
  }

  .galery__item:nth-child(1),
  .galery__item:nth-child(5) {
    grid-column: span 2;
  }

  .galery__item:nth-child(2),
  .galery__item:nth-child(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    column-gap: 10px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .card,
  .card-title,
  .cards-title {
    grid-column: 2 / span 2;
  }

  .section-attention-drainers .card:first-of-type {
    grid-column: 1;
  }

  .section-attention-drainers .card {
    grid-column: span 1;
  }

  .galery {
    grid-template-rows: 260px 315px 433px;
  }
}
